<!--Navegacion con breadcrumbs-->
<div class="mx-2">
    <div class="row">
        <nav class="ms-3 mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb gma-breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/matrices">
                        <i class="g-icon fa-solid fa-table-cells me-1"></i>
                        Matrices</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Crear
                </li>
            </ol>
        </nav>
    </div>
    <hr class="gma-hr border border-success border-1 opacity-75">
</div>

<div class="d-flex justify-content-center align-items-center gma-page-center">
    <div class="card shadow mb-5 text-center border border-dark gma-card-panel gma-card-panel--wide">
        <div *ngIf="!cargando" class="card-body">
            <form [formGroup]="formulario" id="form" class="my-2">
                <!--Empresa-->
                <div id="fieldEmpresa" class="mb-3 me-sm-5 row">
                    <label for="inputEmpresa" class="col-sm-4 col-form-label">
                        <span class="text-danger">*</span>
                        Empresa
                    </label>
                    <div class="col-sm-8">
                        <app-dropdown-search
                            [opciones]="empresas"
                            [controlName]="'empresa'"
                            [formulario]="formulario"
                            [labelField]="'nombre'"
                            [valueField]="'id'"
                            [searchFields]="['nombre']"
                            [placeholder]="'Buscar empresa por nombre...'"
                            [labelSeleccionVacia]="'Seleccione la empresa'"
                        ></app-dropdown-search>
                        <div class="d-flex">
                            <small class="text-danger" *ngIf="errorEnControlador('empresa', 'required')">Empresa es requerida</small>
                        </div>
                    </div>
                </div>
                <!--Título-->
                <div id="fieldTitulo" class="mb-3 me-sm-5 row">
                    <label for="inputTitulo" class="col-sm-4 col-form-label">
                        <span class="text-danger">*</span>
                        Título
                    </label>
                    <div class="col-sm-8">
                      <input formControlName="titulo" type="text" class="form-control border border-dark" id="inputTitulo">
                      <div class="d-flex">
                        <small class="text-danger" *ngIf="errorEnControlador('titulo', 'required')">Título requerido</small>
                      </div>
                    </div>
                </div>

                <!--Info de artículos-->
                <div class="alert alert-info alert-dismissible" role="alert">
                    <i class="fa-solid fa-circle-info fa-2xl"></i>
                    <p class="lead">
                        Los artículos aplicables se gestionan después de crear la matriz
                    </p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <!--Acciones-->
            <div class="mb-3 mx-sm-5 row align-items-center">
                <button (click)="crearMatriz()" class="btn btn-primary col-12 col-sm-3" type="submit">Crear matriz</button>
            </div>
        </div>
      </div>
</div>