<div class="mt-4 mb-2 mx-2">
    <h2><i class="g-icon fa-solid fa-globe me-1"></i>Sucursales</h2>
    <hr class="border border-success border-1 opacity-75">
    <p class="text-muted">Selecciona una sucursal de la lista</p>
    <div class="content-container">
        <!--Nav-->
<ul class="nav nav-pills">
    <li class="nav-item mt-4">
        <div class="input-group mb-3">
            <span class="input-group-text border- border-dark" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input (ngModelChange)="buscar($event)" [(ngModel)]="busqueda" [ngModelOptions]="{standalone:true}" type="text" class="form-control border- border-dark" placeholder="Buscar..." aria-label="Username" aria-describedby="basic-addon1">
          </div>
    </li>
</ul>
<!--loading-->
<div *ngIf="cargando" class="d-flex justify-content-center">
    <div class="spinner-border mt-5 text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>

<!--table-->
<div *ngIf="!cargando" class="table-responsive mb-4 mt-2">
    <table class="table table-light table-striped table-hover shadow">
        <thead>
          <tr class="table-success">
            <th scope="col" *ngFor="let th of ths">{{th}}</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngIf="empresaActual.franquisia">
                <th scope="row">0</th>
                <td>{{obtenerNombreSucursal(empresaActual.franquisia)}}</td>
                <td><span class="badge text-bg-primary">Franquisia</span></td>
                <td>
                    <a (click)="usarComo(0)"><i class="g-icon fa-solid fa-arrow-right-to-bracket fa-lg me-2"></i>
                        <span class="hidden-tooltip">Usar como</span>
                    </a>
                </td>
            </tr>
            <tr *ngFor="let sucursal of sucursalesFiltradas; index as i">
                <th scope="row">{{ i + 1}}</th>
                <td>{{sucursal}}</td>
                <td><span class="badge text-bg-warning">Sucursal</span></td>
                <td>
                    <a (click)="usarComo(i)"><i class="g-icon fa-solid fa-arrow-right-to-bracket fa-lg me-2"></i>
                        <span class="hidden-tooltip">Usar como</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--No hay resultados-->
<div *ngIf="sucursalesFiltradas.length === 0 && sucursalesTodas.length > 0" class="my-4">
    <h4><i class="y-icon fa-solid fa-triangle-exclamation"></i> No se encontraron resultados</h4>
</div>

<!--No Hay sucursales-->
<div *ngIf="sucursalesTodas.length === 0 && !cargando" class="my-4">
    <h4><i class="y-icon fa-solid fa-triangle-exclamation"></i> No hay sucursales registradas</h4>
</div>
</div>
    </div>