<div class="mt-4 mb-2 mx-2">
    <h2><i class="g-icon fa-solid fa-bookmark me-1"></i>Área Legal</h2>
    <hr class="border border-success border-1 opacity-75">

    <div class="content-container">
        <!--Nav-->
    <ul class="nav nav-pills mt-4">
        <li class="nav-item">
            <div class="input-group mb-3">
                <span class="input-group-text border- border-dark" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input (ngModelChange)="buscar($event)" [(ngModel)]="busqueda" [ngModelOptions]="{standalone:true}" type="text" class="form-control border- border-dark" placeholder="Buscar..." aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link active" routerLink="crear"><i class="fa-solid fa-plus"></i> Crear área legal</a>
        </li>
    </ul>
    <!--loading-->
    <div *ngIf="cargando" class="d-flex justify-content-center">
        <div class="spinner-border mt-5 text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <!--table-->
    <div *ngIf="areasFiltradas.length > 0" class="table-responsive mb-4 mt-2">
        <table class="table table-light table-striped table-hover shadow">
            <thead>
              <tr class="table-success">
                <th scope="col" *ngFor="let th of ths">{{th}}</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let area of areasFiltradas; index as i">
                    <th scope="row">{{ i + 1}}</th>
                    <td>{{area.nombre}}</td>
                    <td>
                        <a routerLink="editar/{{area.id}}"><i class="fa-solid fa-pen-to-square fa-lg me-2"></i>
                            <span class="hidden-tooltip">Editar</span>
                        </a>
                        <a (click)="borrar(area)"><i class="r-icon fa-solid fa-trash fa-lg"></i>
                            <span class="hidden-tooltip">Borrar</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- TODO: pagination
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#">&laquo;</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">...</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
          <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
          </li>
        </ul>
      </nav>
    -->
    <!--No hay resultados-->
    <div *ngIf="areasFiltradas.length === 0 && areasTodas.length > 0" class="my-4">
        <h4><i class="y-icon fa-solid fa-triangle-exclamation"></i> No se encontraron resultados</h4>
    </div>

    <!--No hay registro-->
    <div *ngIf="areasTodas.length === 0 && !cargando" class="my-4">
      <h4><i class="y-icon fa-solid fa-triangle-exclamation"></i> No hay áreas legales</h4>
    </div>
    </div>
</div>