<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow my-5 border border-dark">
        
        <div class="card-header d-flex justify-content-around">
            <h2><i class="g-icon fa-solid fa-book me-1"></i>Permiso</h2>
            <!--Nav-->
            <ul class="nav nav-pills mx-5">
                <li class="nav-item mx-2">
                    <a class="nav-link active" routerLink="/permisos"><i class="fa-solid fa-chevron-left"></i> Regresar</a>
                </li>
            </ul>
        </div>

        <div *ngIf="!cargando" class="card-body mb-4 mx-3">
            <!--Nombre - Tipo-->
            <div class="row mb-4">
                <div class="col-6">
                    <h3>Nombre:</h3>
                    <p class="lead">{{permiso.nombre}}</p>
                </div>
                <div class="col-6">
                    <h3>Tipo:</h3>
                    <p class="badge bg-success">{{obtenerTipo(permiso.tipo).label}}</p>
                </div>
            </div>

            <!--Fecha - Archivo-->
            <div class="row mb-4">
                <div class="col-6">
                    <h3>Fecha de vencimiento:</h3>
                    <p class="lead">
                        {{ permiso.fechaVencimiento | date: "longDate"}}
                    </p>
                </div>
                <div class="col-6">
                    <h3>Archivo:</h3>
                    <p class="lead" *ngIf="!permiso.urlArchivo">
                        No tiene
                    </p>
                    <p class="lead" *ngIf="permiso.urlArchivo">
                        <a href={{permiso.urlArchivo}} target="_blank">
                            Ver archivo
                        </a>
                    </p>
                </div>

                <!--Estado - Correos-->
                <div class="row mb-4">
                    <div class="col-6">
                        <h3>Estado:</h3>
                        <p class="lead">
                            <span class="badge" [ngClass]="'text-bg-' + obtenerEstado(permiso.estado).clase">
                                {{obtenerEstado(permiso.estado).label}}
                            </span>
                        </p>
                    </div>
                    <div class="col-6">
                        <h3>Correos:</h3>
                        <p *ngIf="permiso.correos.length === 0" class="lead">
                            No hay correos a notificar
                        </p>
                        <div *ngIf="permiso.correos.length !== 0">
                            <ul>
                                <li *ngFor="let correo of permiso.correos">
                                    {{correo.value}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
