<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow my-5 text-center border border-dark">
        <div class="card-header d-flex justify-content-around">
            <h2><i class="g-icon fa-solid fa-book me-1"></i> Crear normativa</h2>
             <!--Nav-->
            <ul class="nav nav-pills mx-5">
                <li class="nav-item mx-2">
                    <a class="nav-link active" routerLink="/normativas"><i class="fa-solid fa-chevron-left"></i> Regresar</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <form [formGroup]="formulario" id="form" class="my-4">
                <!--Título-->
                <div class="mb-3 me-5 row">
                    <label for="inputTitulo" class="col-sm-4 col-form-label">
                      <span class="text-danger">*</span>
                      Título
                    </label>
                    <div class="col-sm-8">
                      <input formControlName="titulo" type="text" class="form-control border border-dark" id="inputTitulo">
                      <div class="d-flex">
                        <small class="text-danger" *ngIf="errorEnControlador('titulo', 'required')">Título requerido</small>
                      </div>
                    </div>
                </div>
                <!--Tipo-->
                <div class="mb-3 me-5 row">
                    <label for="inputTipo" class="col-sm-4 col-form-label ">
                      <span class="text-danger">*</span>
                      Tipo de normativa
                    </label>
                    <div class="col-sm-8">
                        <select formControlName="tipoId" id="inputTipo" class="form-select border border-dark">
                            <option value="select-valor-vacio" selected>Seleccione el tipo</option>
                            <option *ngFor="let tipo of tipos" value="{{tipo.id}}">{{tipo.nombre}}</option>
                        </select>
                        <div class="d-flex">
                          <small class="text-danger" *ngIf="errorEnControlador('tipoId', 'required')">Tipo es requerido</small>
                          <small class="text-danger" *ngIf="errorEnControlador('tipoId', 'emptySelect')">Tipo es requerido</small>
                        </div>
                    </div>
                </div>
                <!--Número-->
                <div class="mb-3 me-5 row">
                    <label for="inputNumero" class="col-sm-4 col-form-label ">
                      <span class="text-danger">*</span>
                      Número
                    </label>
                    <div class="col-sm-8">
                      <input formControlName="numero" type="text" class="form-control border border-dark" id="inputNumero">
                      <div class="d-flex">
                        <small class="text-danger" *ngIf="errorEnControlador('numero', 'required')">Número requerido</small>
                      </div>
                    </div>
                </div>
                <!--Fecha-->
                <div class="mb-3 me-5 row">
                    <label for="inputFecha" class="col-sm-4 col-form-label ">
                      <span class="text-danger">*</span>
                      Fecha
                    </label>
                    <div class="col-sm-8">
                      <input formControlName="fecha" type="date" class="form-control border border-dark" id="inputFecha">
                      <div class="d-flex">
                        <small class="text-danger" *ngIf="errorEnControlador('fecha', 'required')">Fecha requerida</small>
                      </div>
                    </div>
                </div>
                <!--Pais-->
              <div class="mb-3 me-5 row">
                <label for="inputPais" class="col-sm-4 col-form-label ">
                  <span class="text-danger">*</span>
                  País
                </label>
                <div class="col-sm-8">
                  <select formControlName="pais" id="inputPais" class="form-select border border-dark">
                    <option value="select-valor-vacio" selected>Seleccione el país</option>
                    <option value={{pais}} *ngFor="let pais of paises">{{pais}}</option>
                  </select>
                  <div class="d-flex">
                    <small class="text-danger" *ngIf="errorEnControlador('pais', 'required')">País es requerido</small>
                    <small class="text-danger" *ngIf="errorEnControlador('pais', 'emptySelect')">País es requerido</small>
                  </div>
                </div>
              </div>
                <!--Modificacion-->
                <div class="mb-3 me-5 row">
                    <label for="inputModificacion" class="col-sm-4 col-form-label ">Modificación</label>
                    <div class="col-sm-8">
                      <input formControlName="modificacion" type="text" class="form-control border border-dark" id="inputModificacion">
                    </div>
                </div>
                <!--Entidad-->
                <div class="mb-3 me-5 row">
                    <label for="inputEntidad" class="col-sm-4 col-form-label ">Entidad</label>
                    <div class="col-sm-8">
                      <input formControlName="entidad" type="text" class="form-control border border-dark" id="inputEntidad">
                    </div>
                </div>
                <!--Enlace-->
                <div class="mb-3 me-5 row">
                    <label for="inputEnlace" class="col-sm-4 col-form-label ">Enlace</label>
                    <div class="col-sm-8">
                      <input formControlName="enlace" type="text" class="form-control border border-dark" id="inputEnlace">
                    </div>
                </div>
                <!--Comentarios-->
                <div class="mb-3 me-5 row">
                    <label for="inputComentarios" class="col-sm-12 col-form-label ">Comentarios</label>
                    <div class="col-sm-12">
                        <textarea formControlName="comentarios" class="form-control border border-dark" name="comentarios" id="inputComentarios" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <!--Archivo-->
                <div class="mb-3 me-5 row">
                    <label for="inputArchivo" class="col-sm-4 col-form-label">Archivo</label>
                    <div class="col-sm-8">
                      <input (change)="cargarArchivo($event)" type="file" class="form-control border border-dark" id="inputArchivo">
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <!--Acciones-->
            <div class="mb-3 mx-5 row align-items-center">
                <button (click)="crearNormativa()" class="btn btn-primary col-sm-3" type="submit">Crear normativa</button>
            </div>
        </div>
      </div>
</div>