<div class="mt-4 mb-2 mx-2">
    <h2><i class="g-icon fa-solid fa-briefcase me-1"></i>Empresas</h2>
    <hr class="border border-success border-1 opacity-75">
    <!--Nav-->
    <ul class="nav nav-pills">
        <li class="nav-item mx-4">
            <div class="input-group mb-3">
                <span class="input-group-text border- border-dark" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control border- border-dark" placeholder="Buscar..." aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-plus"></i> Crear una empresa</a>
        </li>
    </ul>
    <!--Tabla-->
    <div class="table-responsive my-4">
        <table class="table table-light table-striped table-hover shadow">
            <thead>
              <tr class="table-success">
                <th scope="col" *ngFor="let th of ths">{{th}}</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tr of trs; index as i">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{tr.nombre}}</td>
                    <td>{{tr.admin}}</td>
                    <td>{{tr.correo}}</td>
                    <td>
                        <a *ngFor="let accion of acciones">
                            {{accion}}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>