<div class="d-flex justify-content-center align-items-center">
    <!--loading-->
    <div *ngIf="cargando" class="d-flex justify-content-center">
        <div class="spinner-border mt-5 text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div *ngIf="!cargando" class="card shadow my-5 text-center border border-dark">
        <div class="card-header d-flex justify-content-around">
            <h2><i class="g-icon fa-solid fa-newspaper me-1"></i>Crear Artículo Aplicable</h2>
             <!--Nav-->
            <ul class="nav nav-pills mx-5">
                <li class="nav-item mx-2">
                    <a class="nav-link active" routerLink="/matrices"><i class="fa-solid fa-chevron-left"></i> Regresar</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <form [formGroup]="formulario" id="form" class="my-4">
                <!--Matriz-->
                <div class="mb-3 me-5 row">
                        <h3 class="col-12">Matriz:
                            <span class="text-muted">
                                {{matriz.titulo}}
                                ({{empresa.nombre}})
                            </span>
                        </h3>
                </div>
                <!--Normativa-->
                <div class="mb-3 me-5 row">
                    <label for="inputNormativa" class="col-sm-4 col-form-label">
                        <span class="text-danger">*</span>
                        Normativa
                    </label>
                    <div class="col-sm-8">
                        <select formControlName="normativaId" id="inputNormativa" class="form-select border border-dark">
                            <option value="select-valor-vacio" selected>Seleccione la normativa</option>
                            <option *ngFor="let normativa of normativas" value="{{normativa.id}}">{{normativa.titulo | truncarTexto: 68 : true}}</option>
                        </select>
                        <div class="d-flex">
                            <small class="text-danger" *ngIf="errorEnControlador('normativaId', 'required')">Normativa es requerida</small>
                            <small class="text-danger" *ngIf="errorEnControlador('normativaId', 'emptySelect')">Normativa es requerida</small>
                        </div>
                    </div>
                </div>
                <!--Areas legales-->
                <div class="mb-3 me-5 row">
                    <label for="inputAreasLegales" class="col-sm-4 col-form-label">
                        <span class="text-danger">*</span>
                        Áreas Legales
                    </label>
                    <div class="col-sm-8">
                        <select formControlName="areaLegalId"  id="inputAreasLegales" class="form-select border border-dark">
                            <option value="select-valor-vacio" selected>Seleccione el área legal</option>
                            <option *ngFor="let area of areasLegales" value="{{area.id}}">{{area.nombre}}</option>
                        </select>
                        <div class="d-flex">
                            <small class="text-danger" *ngIf="errorEnControlador('areaLegalId', 'required')">Área legal es requerida</small>
                            <small class="text-danger" *ngIf="errorEnControlador('areaLegalId', 'emptySelect')">Área legal es requerida</small>
                        </div>
                    </div>
                </div>
                <!--Número Artículos-->
                <div class="mb-3 me-5 row">
                    <label for="inputNumeroArticulos" class="col-sm-4 col-form-label">Número Artículos</label>
                    <div class="col-sm-8">
                      <input formControlName="numeroArticulos" type="text" class="form-control border border-dark" id="inputNumeroArticulos">
                    </div>
                </div>
                <!--Articulos-->
                <div class="mb-3 me-5 row">
                    <label for="inputArticulos" class="col-sm-12 col-form-label">Artículos</label>
                    <div class="col-sm-12">
                        <textarea formControlName="articulos" class="form-control border border-dark articulos-tabs" name="Articulos" id="inputArticulos" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <!--Tramites-->
                <div class="mb-3 me-5 row">
                    <label for="inputTramites" class="col-sm-12 col-form-label">Trámites</label>
                    <div class="col-sm-12">
                        <textarea formControlName="tramites" class="form-control border border-dark articulos-tabs" name="Tramites" id="inputTramites" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <!--Cumplimiento-->
                <div class="mb-3 me-5 row">
                    <label for="inputCumplimiento" class="col-sm-12 col-form-label">Cumplimiento</label>
                    <div class="col-sm-12">
                        <textarea formControlName="cumplimiento" class="form-control border border-dark articulos-tabs" name="Cumplimiento" id="inputCumplimiento" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <!--Aspectos Ambientales-->
                <div class="mb-3 me-5 row">
                    <label for="inputAspectosAmbientales" class="col-sm-12 col-form-label">Aspectos Ambientales</label>
                    <div class="col-sm-12">
                        <textarea formControlName="aspectosAmbientales" class="form-control border border-dark articulos-tabs" name="AspectosAmbientales" id="inputAspectosAmbientales" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <!--Cambios recientes-->
                <div class="mb-3 me-5 row">
                    <label for="inputCambiosRecientes" class="col-sm-12 col-form-label">Cambios Recientes</label>
                    <div class="col-sm-12">
                        <textarea formControlName="cambiosRecientes" class="form-control border border-dark articulos-tabs" name="CambiosRecientes" id="inputCambiosRecientes" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <!--Acciones-->
            <div class="mb-3 mx-5 row align-items-center">
                <button (click)="crearArticulo()" class="btn btn-primary col-sm-3" type="submit">Crear Artículos</button>
            </div>
        </div>
    </div>
</div>