
<div>
    <!--loading-->
    <div *ngIf="cargando" class="d-flex justify-content-center">
        <div class="spinner-border mt-5 text-primary" role="status"> <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div *ngIf="!cargando">
        <!--Navegacion con breadcrumbs-->
        <div class="mx-2">
            <div class="row">
                <nav class="ms-3 mt-3" aria-label="breadcrumb">
                    <ol class="breadcrumb gma-breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/matrices">
                                <i class="g-icon fa-solid fa-table-cells me-1"></i>
                                Matrices</a>
                        </li>
                        <li class="breadcrumb-item">
                            {{matriz.titulo}}
                        </li>
                    </ol>
                </nav>
            </div>
            <hr class="gma-hr border border-success border-1 opacity-75">
        </div>

        <!--Contenido-->
        <div class="d-flex justify-content-center align-items-center gma-page-center">
            <div class="card shadow mb-5 text-center border border-dark gma-card-panel gma-card-panel--wide">
                <div class="card-body">
                    <div>
                        <form *ngIf="areasAplicables.length !== 0" id="form" class="my-2">
                            <!--Area Legal-->
                            <div class="mb-3 me-sm-5 row">
                                <label for="inputArea" class="col-sm-4 col-form-label">Seleccione el área legal</label>
                                <div class="col-sm-8">
                                    <select (change)="seleccionarAreaLegal()" [(ngModel)]="areaSeleccionada.id"
                                        [ngModelOptions]="{standalone:true}" id="inputArea"
                                        class="form-select border border-dark">
                                        <option value="select-valor-vacio" selected>Seleccione el área legal</option>
                                        <option *ngFor="let areaAplicable of areasAplicables" value="{{areaAplicable.id}}">
                                            {{areaAplicable.nombre}} ({{ obtenerCantidadArticulos(areaAplicable.id)}})</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <!--Articulos Aplicables-->
                        <div class="accordion" id="articulos-accordion" *ngIf="articulosAplicablesFiltro.length !==0">
                            <div class="accordion-item" *ngFor="let tipo of tiposFiltro; index as i">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        [attr.data-bs-target]="'#collapse' + i" [attr.aria-controls]="'collapse' + i"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        {{tipo.nombre}}
                                    </button>
                                </h2>
                                <div [id]="'collapse' + i" class="accordion-collapse collapse show"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <app-matriz-articulos-view [normativa]="obtenerNormativa(articulo.normativaId)"
                                            [articulo]="articulo"
                                            *ngFor="let articulo of obtenerArticulosPorTipoNormativa(tipo.id)"></app-matriz-articulos-view>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--No hay resultados-->
                    <div *ngIf="areasAplicables.length === 0 && !cargando" class="my-4">
                        <h4><i class="y-icon fa-solid fa-triangle-exclamation"></i> No hay artículos aplicables para esta matriz
                        </h4>
                        <a [routerLink]="['/matrices/crear-articulos', matriz.id]" type="button" class="my-4 btn btn-success btn-lg">
                            <i class="w-icon fa-solid fa-newspaper fa-lg me-2"></i>
                            <span>Crear artículos</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
