.card {
    min-width: 920px;
}

#inputNotas {
    height: 150px;
    max-height: 200px;
    min-height: 100px;
}

#imagePreview
{
    max-width: 130px;
    max-height: 130px;
    border-radius: 12px;
}