<nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img src="../assets/images/GMA-logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        GMA Sistema
      </a>
      <button *ngIf="!cargando" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div  *ngIf="!cargando && !usuarioVacio()" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!--Empresas-->

          <li *ngIf="usuario.tipo == 2" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-briefcase me-1"></i>Empresa
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="empresa/gestionar-usuarios"><i class="g-icon fa-solid fa-users me-1"></i>Gestionar Usuarios</a></li>
            </ul>
          </li>

          <li *ngIf="usuario.tipo == 1" class="nav-item">
            <a class="nav-link" routerLink="empresas"><i class="fa-solid fa-briefcase me-1"></i>Empresas</a>
          </li>
          <!--Matrices-->
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="matrices"><i class="fa-solid fa-table-cells me-1"></i>Matrices</a>
          </li>
          <!--Normativas-->
          <li *ngIf="usuario.tipo == 1" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-book me-1"></i>Normativas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="normativas"><i class="g-icon fa-solid fa-book me-1"></i>Normativas</a></li>
              <li><a class="dropdown-item" routerLink="tipos-normativas"><i class="g-icon fa-regular fa-rectangle-list me-1"></i>Tipos de Normativas</a></li>
            </ul>
          </li>
          <!--Area Legal-->
          <li *ngIf="usuario.tipo == 1" class="nav-item">
            <a class="nav-link" routerLink="area-legal"><i class="fa-solid fa-bookmark me-1"></i>Área Legal</a>
          </li>
          
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
          <!--Usuarios-->
          <li *ngIf="usuario.correo" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-circle-user me-1"></i>{{this.usuario.correo !== "" ? this.usuario.correo : "Usuario"}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="usuario/perfil"><i class="g-icon fa-solid fa-user me-1"></i>Perfil</a></li>
              <li><a (click)="cerrarSesion()" class="dropdown-item"><i class="g-icon fa-solid fa-right-from-bracket me-1"></i>Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>