/* You can add global styles to this file, and also import other style files */
.g-icon {
    color: #198754
}

.y-icon {
    color: #FFC107;
}

.r-icon {
    color: #DC3545;
}

.b-icon {
    color: #0D6EFD
}

.table-responsive {
    border-radius: 10px;
}

.content-container {
    background-color: #EFF6FB;
    border: .2px solid #CEE3F3;
    border-radius: 10px;
    padding: 0 30px;
}

table {
    font-size: 12px;
}

/* Table Portrait*/
@media (min-width: 600px) {
    .content-container {
        padding: 0 80px;
    }
    table {
        font-size: 13px;
    }
}

/* Table Landscape*/
@media (min-width: 768px) {
    .content-container {
        padding: 0 100px;
    }
    table {
        font-size: 14px;
    }
}

/*Laptops */
@media (min-width: 1024px) {
    .content-container {
        padding: 0 150px;
    }

    table {
        font-size: 15px;
    }
}

/*Large Screens */
@media (min-width: 1440px) {
    .content-container {
        padding: 0 200px;
    }

    table {
        font-size: 16px;
    }
}