<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow my-5 border border-dark">
        <div class="card-header d-flex justify-content-around">
            <h2><i class="g-icon fa-solid fa-bookmark me-1"></i>Área Legal</h2>
             <!--Nav-->
            <ul class="nav nav-pills mx-5">
                <li class="nav-item mx-2">
                    <a class="nav-link active" routerLink="/area-legal"><i class="fa-solid fa-chevron-left"></i> Regresar</a>
                </li>
            </ul>
        </div>
        <div class="card-body mb-4 mx-3">
            <h2>Nombre:</h2>
            <p class="lead">Ejemplo nombre</p>
        </div>
      </div>
</div>